$board-bg: hsl(42, 64%, 65%);
$board-border: #a78a48; //darken($board-bg, 25%);
$board-mark: #f3512c;


.Board {
  background: $board-bg;
  position: relative;
  padding-top: 100%;
}

.Board-inner {
  position: absolute;
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 20px;
}

.Board-grid {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.Board-grid-lines-y,
.Board-grid-lines-x {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  @include pie-clearfix;
}

.Board-coords {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
}

.Board-star-points {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  // top: -(100% / 19);
  // left: -(100% / 19);
}

.Board-star-point {
  position: absolute;
  width: 0.9%;
  height: 0.9%;
  border-radius: 100%;
  background: darken($board-border, 5%);
  margin-left: -0.6%;
  margin-top: -0.6%;
}

.Board-stones {
  @include pie-clearfix;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.Board-size-19 {
  .Board-grid-lines-y {
    width: (100% - (100% / 19));
    left: (100% / 19 / 2.1);
    top: -(100% / 19 / 2);
    bottom: (100% / 19 / 2);
  }

  .Board-grid-lines-x {
    height: (100% - (100% / 19.25));
    top: (100% / 20 / 2);
    left: -(100% / 19 / 2);
    right: (100% / 19 / 2);
  }

  .Board-grid-line-y {
    height: (100% / 19);
    border-bottom: 1px solid $board-border;
    box-sizing: border-box;
  }

  .Board-grid-line-x {
    width: (100% / 19);
    height: 100%;
    border-right: 1px solid $board-border;
    box-sizing: border-box;
    float: left;
  }

  .Board-coords-top,
  .Board-coords-bottom {
    position: absolute;
    left: 0;
    right: 0;
    top: -(100% / 19 / 2.25);
    height: (100% / 19);
    // border-bottom: 1px solid $board-border;
    box-sizing: border-box;

    .Board-coord-label {
      display: inline-block;
      width: (100% / 19);
    }
  }

  .Board-coords-bottom {
    top: auto;
    bottom: -(100% / 17.5);
  }

  .Board-coords-left,
  .Board-coords-right {
    position: absolute;
    // top: (100% / 19 / 2);
    top: 0;
    bottom: 0;
    left: -(100% / 24);
    width: (100% / 19);
    // line-height: 1;
    // border-bottom: 1px solid $board-border;
    box-sizing: border-box;

    .Board-coord-label {
      padding-top: 25%;
    }
  }

  .Board-coords-right {
    left: auto;
    right: -(100% / 24);
  }

  .Board-coord-label {
    text-align: center;
    height: (100% / 19);
    font-size: 11px;
    color: $board-border;
    box-sizing: border-box;
  }

  .Board-star-point-0 {
    left: (100% / 19 * 4 - (100% / 19 / 2));
    top: (100% / 19 * 4 - (100% / 19 / 2));
  }

  .Board-star-point-1 {
    left: (100% / 19 * 10 - (100% / 19 / 2));
    top: (100% / 19 * 4 - (100% / 19 / 2));
  }

  .Board-star-point-2 {
    left: (100% / 19 * 16 - (100% / 19 / 2));
    top: (100% / 19 * 4 - (100% / 19 / 2));
  }

  .Board-star-point-3 {
    left: (100% / 19 * 4 - (100% / 19 / 2));
    top: (100% / 19 * 10 - (100% / 19 / 2));
  }

  .Board-star-point-4 {
    left: (100% / 19 * 10 - (100% / 19 / 2));
    top: (100% / 19 * 10 - (100% / 19 / 2));
  }

  .Board-star-point-5 {
    left: (100% / 19 * 16 - (100% / 19 / 2));
    top: (100% / 19 * 10 - (100% / 19 / 2));
  }

  .Board-star-point-6 {
    left: (100% / 19 * 4 - (100% / 19 / 2));
    top: (100% / 19 * 16 - (100% / 19 / 2));
  }

  .Board-star-point-7 {
    left: (100% / 19 * 10 - (100% / 19 / 2));
    top: (100% / 19 * 16 - (100% / 19 / 2));
  }

  .Board-star-point-8 {
    left: (100% / 19 * 16 - (100% / 19 / 2));
    top: (100% / 19 * 16 - (100% / 19 / 2));
  }

  .Board-stones-line {
    height: (100% / 19);
    box-sizing: border-box;
  }

  .Board-stone-slot {
    width: (100% / 19);
    padding-top: (100% / 19);
    float: left;
    position: relative;
    cursor: default;
  }
}

.Board-size-9 {
  .Board-grid-lines-y {
    width: (100% - (100% / 9));
    left: (100% / 9 / 2.1);
    top: -(100% / 9 / 2);
    bottom: (100% / 9 / 2);
  }

  .Board-grid-lines-x {
    height: (100% - (100% / 9.25));
    top: (100% / 10 / 2);
    left: -(100% / 9 / 2);
    right: (100% / 9 / 2);
  }

  .Board-grid-line-y {
    height: (100% / 9);
    border-bottom: 1px solid $board-border;
    box-sizing: border-box;
  }

  .Board-grid-line-x {
    width: (100% / 9);
    height: 100%;
    border-right: 1px solid $board-border;
    box-sizing: border-box;
    float: left;
  }

  .Board-coords-top,
  .Board-coords-bottom {
    position: absolute;
    left: 0;
    right: 0;
    top: -(100% / 9 / 4);
    height: (100% / 9);
    // border-bottom: 1px solid $board-border;
    box-sizing: border-box;

    .Board-coord-label {
      display: inline-block;
      width: (100% / 9);
    }
  }

  .Board-coords-bottom {
    top: auto;
    bottom: -(100% / 9);
  }

  .Board-coords-left,
  .Board-coords-right {
    position: absolute;
    // top: (100% / 9 / 2);
    top: 0;
    bottom: 0;
    left: -(100% / 14);
    width: (100% / 9);
    // line-height: 1;
    // border-bottom: 1px solid $board-border;
    box-sizing: border-box;

    .Board-coord-label {
      padding-top: 25%;
    }
  }

  .Board-coords-right {
    left: auto;
    right: -(100% / 14);
  }

  .Board-coord-label {
    text-align: center;
    height: (100% / 9);
    font-size: 11px;
    color: $board-border;
    box-sizing: border-box;
  }

  .Board-star-point-0 {
    left: (100% / 9 * 3 - (100% / 9 / 2));
    top: (100% / 9 * 3 - (100% / 9 / 2));
  }

  .Board-star-point-1 {
    left: (100% / 9 * 5 - (100% / 9 / 2));
    top: (100% / 9 * 3 - (100% / 9 / 2));
  }

  .Board-star-point-2 {
    left: (100% / 9 * 7 - (100% / 9 / 2));
    top: (100% / 9 * 3 - (100% / 9 / 2));
  }

  .Board-star-point-3 {
    left: (100% / 9 * 3 - (100% / 9 / 2));
    top: (100% / 9 * 5 - (100% / 9 / 2));
  }

  .Board-star-point-4 {
    left: (100% / 9 * 5 - (100% / 9 / 2));
    top: (100% / 9 * 5 - (100% / 9 / 2));
  }

  .Board-star-point-5 {
    left: (100% / 9 * 7 - (100% / 9 / 2));
    top: (100% / 9 * 5 - (100% / 9 / 2));
  }

  .Board-star-point-6 {
    left: (100% / 9 * 3 - (100% / 9 / 2));
    top: (100% / 9 * 7 - (100% / 9 / 2));
  }

  .Board-star-point-7 {
    left: (100% / 9 * 5 - (100% / 9 / 2));
    top: (100% / 9 * 7 - (100% / 9 / 2));
  }

  .Board-star-point-8 {
    left: (100% / 9 * 7 - (100% / 9 / 2));
    top: (100% / 9 * 7 - (100% / 9 / 2));
  }

  .Board-stones-line {
    height: (100% / 9);
    box-sizing: border-box;
  }

  .Board-stone-slot {
    width: (100% / 9);
    padding-top: (100% / 9);
    float: left;
    position: relative;
    cursor: default;
  }
}

.Board-size-13 {
  .Board-grid-lines-y {
    width: (100% - (100% / 13));
    left: (100% / 13 / 2.1);
    top: -(100% / 13 / 2);
    bottom: (100% / 13 / 2);
  }

  .Board-grid-lines-x {
    height: (100% - (100% / 13.25));
    top: (100% / 14 / 2);
    left: -(100% / 13 / 2);
    right: (100% / 13 / 2);
  }

  .Board-grid-line-y {
    height: (100% / 13);
    border-bottom: 1px solid $board-border;
    box-sizing: border-box;
  }

  .Board-grid-line-x {
    width: (100% / 13);
    height: 100%;
    border-right: 1px solid $board-border;
    box-sizing: border-box;
    float: left;
  }

  .Board-coords-top,
  .Board-coords-bottom {
    position: absolute;
    left: 0;
    right: 0;
    top: -(100% / 13 / 2.25);
    height: (100% / 13);
    // border-bottom: 1px solid $board-border;
    box-sizing: border-box;

    .Board-coord-label {
      display: inline-block;
      width: (100% / 13);
      color: red;
    }
  }

  .Board-coords-bottom {
    top: auto;
    bottom: -(100% / 11.5);
  }

  .Board-coords-left,
  .Board-coords-right {
    position: absolute;
    // top: (100% / 13 / 2);
    top: 0;
    bottom: 0;
    left: -(100% / 18);
    width: (100% / 13);
    // line-height: 1;
    // border-bottom: 1px solid $board-border;
    box-sizing: border-box;

    .Board-coord-label {
      padding-top: 25%;
    }
  }

  .Board-coords-right {
    left: auto;
    right: -(100% / 18);
  }

  .Board-coord-label {
    text-align: center;
    height: (100% / 13);
    font-size: 11px;
    color: $board-border;
    box-sizing: border-box;
  }

  .Board-star-point-0 {
    left: (100% / 13 * 4 - (100% / 13 / 2));
    top: (100% / 13 * 4 - (100% / 13 / 2));
  }

  .Board-star-point-1 {
    left: (100% / 13 * 7 - (100% / 13 / 2));
    top: (100% / 13 * 4 - (100% / 13 / 2));
  }

  .Board-star-point-2 {
    left: (100% / 13 * 10 - (100% / 13 / 2));
    top: (100% / 13 * 4 - (100% / 13 / 2));
  }

  .Board-star-point-3 {
    left: (100% / 13 * 4 - (100% / 13 / 2));
    top: (100% / 13 * 7 - (100% / 13 / 2));
  }

  .Board-star-point-4 {
    left: (100% / 13 * 7 - (100% / 13 / 2));
    top: (100% / 13 * 7 - (100% / 13 / 2));
  }

  .Board-star-point-5 {
    left: (100% / 13 * 10 - (100% / 13 / 2));
    top: (100% / 13 * 7 - (100% / 13 / 2));
  }

  .Board-star-point-6 {
    left: (100% / 13 * 4 - (100% / 13 / 2));
    top: (100% / 13 * 10 - (100% / 13 / 2));
  }

  .Board-star-point-7 {
    left: (100% / 13 * 7 - (100% / 13 / 2));
    top: (100% / 13 * 10 - (100% / 13 / 2));
  }

  .Board-star-point-8 {
    left: (100% / 13 * 10 - (100% / 13 / 2));
    top: (100% / 13 * 10 - (100% / 13 / 2));
  }

  .Board-stones-line {
    height: (100% / 13);
    box-sizing: border-box;
  }

  .Board-stone-slot {
    width: (100% / 13);
    padding-top: (100% / 13);
    float: left;
    position: relative;
    cursor: default;
  }
}

.no-touch .Board-clickable .Board-stone-slot:hover {
  cursor: pointer;

  &:after {
    content: " ";
    position: absolute;
    left: 2%;
    top: 2%;
    width: 96%;
    height: 96%;
    border-radius: 100%;
    box-shadow: 0 0 0 2px $link-color;
    z-index: 2;
  }
}

.Board-stone-mark {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 0;
  z-index: 2;

  &:after {
    content: " ";
    position: absolute;
    left: 35%;
    top: 35%;
    width: 30%;
    height: 30%;
    // border: 2px solid $board-mark;
    // background: red;
    box-sizing: border-box;
  }
}

.Board-stone,
.Board-stone-mark-pendingBlack,
.Board-stone-mark-pendingWhite {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 0;

  // padding-top: 50%;
  &:before {
    content: " ";
    position: absolute;
    left: 2%;
    top: 2%;
    width: 96%;
    height: 96%;
    border-radius: 100%;
    box-shadow: 1px 2px 2px rgba(#000, 0.5);
    z-index: 1;
  }
}

.Board-stone-white,
.Board-stone-mark-pendingWhite {
  &:before {
    background-color: #e8e8e8;
  }

  &:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 85%;
    height: 85%;
    border-radius: 100%;
    z-index: 1;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 70%);
  }
}

.Board-stone-black,
.Board-stone-mark-pendingBlack {
  &:before {
    background-color: $stone-black;
  }

  &:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    z-index: 1;
    background: radial-gradient(ellipse at center, rgba(#505050, 1) 10%, rgba(#505050, 0) 55%);
  }
}

.Board-stone-mark-square {
  &:after {
    content: " ";
    position: absolute;
    left: 35%;
    top: 35%;
    width: 30%;
    height: 30%;
    border: 2px solid $board-mark;
    // background: red;
    box-sizing: border-box;
  }
}

.Board-stone-mark-circle {
  &:after {
    content: " ";
    position: absolute;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
    border: 2px solid $board-mark;
    border-radius: 40%;
    // background: red;
    box-sizing: border-box;
  }
}

.Board-stone-mark-triangle {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 200%;
  color: $board-mark;
  font-weight: bold;
  font-size: 16px;

  &:before {
    content: "▵";
  }
}

.Board-stone-mark-cross {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 200%;
  color: $board-mark;
  font-weight: bold;
  font-size: 16px;

  &:before {
    content: "×";
  }
}

.Board-stone-mark-whiteTerritory {
  z-index: 3;

  &:after {
    content: " ";
    position: absolute;
    left: 35%;
    top: 35%;
    width: 30%;
    height: 30%;
    background: $stone-white;
    box-sizing: border-box;
  }
}

.Board-stone-mark-blackTerritory {
  z-index: 3;

  &:after {
    content: " ";
    position: absolute;
    left: 35%;
    top: 35%;
    width: 30%;
    height: 30%;
    background: $stone-black;
    box-sizing: border-box;
  }
}

.Board-stone-mark-dead {
  &:after {
    content: " ";
    position: absolute;
    left: 2%;
    top: 2%;
    width: 96%;
    height: 96%;
    border-radius: 100%;
    box-shadow: 1px 2px 2px rgba($board-bg, 0.4);
    z-index: 1;
    background-color: rgba($board-bg, 0.5);
  }
}

.Board-stone-label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 200%;
  z-index: 3;
  font-size: 16px;
  font-weight: bold;
  color: $board-mark;
}

.NigiriIcon {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 0;
  text-align: center;
  transform: rotate(-45deg);
  border-radius: 50%;
  box-shadow: -1px 2px 2px rgba(#000, 0.3);

  .NigiriIcon-black,
  .NigiriIcon-white {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 50%;
    overflow: hidden;
    // clip-path: inset(10px 20px 30px 40px);
  }

  .NigiriIcon-black-inner,
  .NigiriIcon-white-inner {
    position: relative;
    height: 200%;
  }

  .NigiriIcon-white {
    top: auto;
    bottom: 0;
    transform: rotate(180deg);
    // clip-path: inset(30px 40px 10px 20px);
  }

  .Board-stone:before {
    box-shadow: none;
  }
}

@media only screen and (max-width: 999px) {

  .Board-stone-label,
  .Board-stone-mark-cross,
  .Board-stone-mark-triangle {
    font-size: 14px;
  }
}

@media only screen and (max-width: 850px) {

  .Board-stone-label,
  .Board-stone-mark-cross,
  .Board-stone-mark-triangle {
    font-size: 12px;
    line-height: 170%;
  }
}

@media only screen and (max-width: 440px) {

  .Board-stone-label,
  .Board-stone-mark-cross,
  .Board-stone-mark-triangle {
    font-size: 10px;
  }
}

.Board-stone-mark-active {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 0;
  z-index: 3;

  // padding-top: 50%;
  &:after {
    content: " ";
    position: absolute;
    left: 35%;
    top: 35%;
    width: 30%;
    height: 30%;
    // border: 2px solid $link-color;
    background: $link-color;
    box-sizing: border-box;
  }
}
button {
  background: none;
  color: $content-fg;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
  cursor: pointer;
  // display: block;
  text-align: left;
  // width: 100%;
}
.GameScreen-board{
	background:#555;
	margin:0 auto;
	position:relative
}
.GameScreen-board-inner{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0
}

.BoardNav{
	margin:0 auto;
	padding:0 0 0 110px;
	box-sizing:border-box;
	font-size:14px;
	color:#aaa;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0
}
.BoardNav-slide-container{
	display:flex;
	padding-left:20px
}
.BoardNav-move{
	width:70px;
	padding:10px 0 0 20px
}
.BoardNav-slide{
	flex:1 1;
	padding:7px 0 0
}
.BoardNav-slide input{
	width:100%
}
.BoardNav-step{
	position:absolute;
	left:5px;
	top:0;
	font-size:0
}
a.BoardNav-next,a.BoardNav-prev{
	display:block;
	background:#888;
	color:#fff;
	padding:5px 20px;
	font-size:16px;
	display:inline-block;
	border-radius:4px;
	margin:4px 4px 0 0
}
.no-touch a.BoardNav-next:hover,.no-touch a.BoardNav-prev:hover,a.BoardNav-next:active,a.BoardNav-prev:active{
	background:#aaa
}
	.GameScreen-access-denied{
		position:absolute;
		left:0;
		right:350px;
		box-sizing:border-box
}
.GamePlayersInfo-players-icon .Board-stone-black:after{
	background:radial-gradient(ellipse at center,#666 10%,rgba(80,80,80,0) 65%)
}
	.GameScreen-board{
		width:100%!important;
		padding-top:100%;
		height:auto!important
}
	.GameScreen-nav{
		width:100%!important;
		z-index:2
}
	.BoardNav{
		padding:0 110px 0 0
}
	.BoardNav-slide-container{
		padding:0 20px 0 0
}
	.BoardNav-move{
		order:1;
		padding:10px 0 0 10px
}
	.BoardNav-slide{
		order:2
}
	.BoardNav-step{
		height:47px;
		padding-left:7px;
		right:0;
		left:auto
}
.Board{
	background:#dfbd6d;
	position:relative;
	padding-top:100%
}
.Board-inner{
	position:absolute;
	left:20px;
	top:20px;
	right:20px;
	bottom:20px
}
.Board-grid,.Board-grid-lines-x,.Board-grid-lines-y{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0
}
.Board-grid-lines-x:after,.Board-grid-lines-y:after{
	content:"";
	display:table;
	clear:both
}
.Board-coords{
	font-size:0
}
.Board-coords,.Board-star-points{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0
}
.Board-star-point{
	position:absolute;
	width:.9%;
	height:.9%;
	border-radius:100%;
	background:#957b40;
	margin-left:-.6%;
	margin-top:-.6%
}
.Board-stones{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0
}
.Board-stones:after{
	content:"";
	display:table;
	clear:both
}
.Board-size-19 .Board-grid-lines-y{
	width:94.73684%;
	left:2.50627%;
	top:-2.63158%;
	bottom:2.63158%
}
.Board-size-19 .Board-grid-lines-x{
	height:94.80519%;
	top:2.5%;
	left:-2.63158%;
	right:2.63158%
}
.Board-size-19 .Board-grid-line-y{
	height:5.26316%;
	border-bottom:1px solid #a78a48;
	box-sizing:border-box
}
.Board-size-19 .Board-grid-line-x{
	width:5.26316%;
	height:100%;
	border-right:1px solid #a78a48;
	box-sizing:border-box;
	float:left
}
.Board-size-19 .Board-coords-bottom,.Board-size-19 .Board-coords-top{
	position:absolute;
	left:0;
	right:0;
	top:-2.33918%;
	height:5.26316%;
	box-sizing:border-box
}
.Board-size-19 .Board-coords-bottom .Board-coord-label,.Board-size-19 .Board-coords-top .Board-coord-label{
	display:inline-block;
	width:5.26316%
}
.Board-size-19 .Board-coords-bottom{
	top:auto;
	bottom:-5.71429%
}
.Board-size-19 .Board-coords-left,.Board-size-19 .Board-coords-right{
	position:absolute;
	top:0;
	bottom:0;
	left:-4.16667%;
	width:5.26316%;
	box-sizing:border-box
}
.Board-size-19 .Board-coords-left .Board-coord-label,.Board-size-19 .Board-coords-right .Board-coord-label{
	padding-top:25%
}
.Board-size-19 .Board-coords-right{
	left:auto;
	right:-4.16667%
}
.Board-size-19 .Board-coord-label{
	text-align:center;
	height:5.26316%;
	font-size:11px;
	color:#a78a48;
	box-sizing:border-box
}
.Board-size-19 .Board-star-point-0{
	left:18.42105%;
	top:18.42105%
}
.Board-size-19 .Board-star-point-1{
	left:50%;
	top:18.42105%
}
.Board-size-19 .Board-star-point-2{
	left:81.57895%;
	top:18.42105%
}
.Board-size-19 .Board-star-point-3{
	left:18.42105%;
	top:50%
}
.Board-size-19 .Board-star-point-4{
	left:50%;
	top:50%
}
.Board-size-19 .Board-star-point-5{
	left:81.57895%;
	top:50%
}
.Board-size-19 .Board-star-point-6{
	left:18.42105%;
	top:81.57895%
}
.Board-size-19 .Board-star-point-7{
	left:50%;
	top:81.57895%
}
.Board-size-19 .Board-star-point-8{
	left:81.57895%;
	top:81.57895%
}
.Board-size-19 .Board-stones-line{
	height:5.26316%;
	box-sizing:border-box
}
.Board-size-19 .Board-stone-slot{
	width:5.26316%;
	padding-top:5.26316%;
	float:left;
	position:relative;
	cursor:default
}
.Board-size-9 .Board-grid-lines-y{
	width:88.88889%;
	left:5.29101%;
	top:-5.55556%;
	bottom:5.55556%
}
.Board-size-9 .Board-grid-lines-x{
	height:89.18919%;
	top:5%;
	left:-5.55556%;
	right:5.55556%
}
.Board-size-9 .Board-grid-line-y{
	height:11.11111%;
	border-bottom:1px solid #a78a48;
	box-sizing:border-box
}
.Board-size-9 .Board-grid-line-x{
	width:11.11111%;
	height:100%;
	border-right:1px solid #a78a48;
	box-sizing:border-box;
	float:left
}
.Board-size-9 .Board-coords-bottom,.Board-size-9 .Board-coords-top{
	position:absolute;
	left:0;
	right:0;
	top:-2.77778%;
	height:11.11111%;
	box-sizing:border-box
}
.Board-size-9 .Board-coords-bottom .Board-coord-label,.Board-size-9 .Board-coords-top .Board-coord-label{
	display:inline-block;
	width:11.11111%
}
.Board-size-9 .Board-coords-bottom{
	top:auto;
	bottom:-11.11111%
}
.Board-size-9 .Board-coords-left,.Board-size-9 .Board-coords-right{
	position:absolute;
	top:0;
	bottom:0;
	left:-7.14286%;
	width:11.11111%;
	box-sizing:border-box
}
.Board-size-9 .Board-coords-left .Board-coord-label,.Board-size-9 .Board-coords-right .Board-coord-label{
	padding-top:25%
}
.Board-size-9 .Board-coords-right{
	left:auto;
	right:-7.14286%
}
.Board-size-9 .Board-coord-label{
	text-align:center;
	height:11.11111%;
	font-size:11px;
	color:#a78a48;
	box-sizing:border-box
}
.Board-size-9 .Board-star-point-0{
	left:27.77778%;
	top:27.77778%
}
.Board-size-9 .Board-star-point-1{
	left:50%;
	top:27.77778%
}
.Board-size-9 .Board-star-point-2{
	left:72.22222%;
	top:27.77778%
}
.Board-size-9 .Board-star-point-3{
	left:27.77778%;
	top:50%
}
.Board-size-9 .Board-star-point-4{
	left:50%;
	top:50%
}
.Board-size-9 .Board-star-point-5{
	left:72.22222%;
	top:50%
}
.Board-size-9 .Board-star-point-6{
	left:27.77778%;
	top:72.22222%
}
.Board-size-9 .Board-star-point-7{
	left:50%;
	top:72.22222%
}
.Board-size-9 .Board-star-point-8{
	left:72.22222%;
	top:72.22222%
}
.Board-size-9 .Board-stones-line{
	height:11.11111%;
	box-sizing:border-box
}
.Board-size-9 .Board-stone-slot{
	width:11.11111%;
	padding-top:11.11111%;
	float:left;
	position:relative;
	cursor:default
}
.Board-size-13 .Board-grid-lines-y{
	width:92.30769%;
	left:3.663%;
	top:-3.84615%;
	bottom:3.84615%
}
.Board-size-13 .Board-grid-lines-x{
	height:92.45283%;
	top:3.57143%;
	left:-3.84615%;
	right:3.84615%
}
.Board-size-13 .Board-grid-line-y{
	height:7.69231%;
	border-bottom:1px solid #a78a48;
	box-sizing:border-box
}
.Board-size-13 .Board-grid-line-x{
	width:7.69231%;
	height:100%;
	border-right:1px solid #a78a48;
	box-sizing:border-box;
	float:left
}
.Board-size-13 .Board-coords-bottom,.Board-size-13 .Board-coords-top{
	position:absolute;
	left:0;
	right:0;
	top:-3.4188%;
	height:7.69231%;
	box-sizing:border-box
}
.Board-size-13 .Board-coords-bottom .Board-coord-label,.Board-size-13 .Board-coords-top .Board-coord-label{
	display:inline-block;
	width:7.69231%
}
.Board-size-13 .Board-coords-bottom{
	top:auto;
	bottom:-8.69565%
}
.Board-size-13 .Board-coords-left,.Board-size-13 .Board-coords-right{
	position:absolute;
	top:0;
	bottom:0;
	left:-5.55556%;
	width:7.69231%;
	box-sizing:border-box
}
.Board-size-13 .Board-coords-left .Board-coord-label,.Board-size-13 .Board-coords-right .Board-coord-label{
	padding-top:25%
}
.Board-size-13 .Board-coords-right{
	left:auto;
	right:-5.55556%
}
.Board-size-13 .Board-coord-label{
	text-align:center;
	height:7.69231%;
	font-size:11px;
	color:#a78a48;
	box-sizing:border-box
}
.Board-size-13 .Board-star-point-0{
	left:26.92308%;
	top:26.92308%
}
.Board-size-13 .Board-star-point-1{
	left:50%;
	top:26.92308%
}
.Board-size-13 .Board-star-point-2{
	left:73.07692%;
	top:26.92308%
}
.Board-size-13 .Board-star-point-3{
	left:26.92308%;
	top:50%
}
.Board-size-13 .Board-star-point-4{
	left:50%;
	top:50%
}
.Board-size-13 .Board-star-point-5{
	left:73.07692%;
	top:50%
}
.Board-size-13 .Board-star-point-6{
	left:26.92308%;
	top:73.07692%
}
.Board-size-13 .Board-star-point-7{
	left:50%;
	top:73.07692%
}
.Board-size-13 .Board-star-point-8{
	left:73.07692%;
	top:73.07692%
}
.Board-size-13 .Board-stones-line{
	height:7.69231%;
	box-sizing:border-box
}
.Board-size-13 .Board-stone-slot{
	width:7.69231%;
	padding-top:7.69231%;
	float:left;
	position:relative;
	cursor:default
}
.no-touch .Board-clickable .Board-stone-slot:hover{
	cursor:pointer
}
.no-touch .Board-clickable .Board-stone-slot:hover:after{
	content:" ";
	position:absolute;
	left:2%;
	top:2%;
	width:96%;
	height:96%;
	border-radius:100%;
	box-shadow:0 0 0 2px #48c39c;
	z-index:2
}
.Board-stone-mark{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	text-align:center;
	line-height:0;
	z-index:2
}
.Board-stone-mark:after{
	content:" ";
	position:absolute;
	left:35%;
	top:35%;
	width:30%;
	height:30%;
	box-sizing:border-box
}
.Board-stone,.Board-stone-mark-pendingBlack,.Board-stone-mark-pendingWhite{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	text-align:center;
	line-height:0
}
.Board-stone-mark-pendingBlack:before,.Board-stone-mark-pendingWhite:before,.Board-stone:before{
	content:" ";
	position:absolute;
	left:2%;
	top:2%;
	width:96%;
	height:96%;
	border-radius:100%;
	box-shadow:1px 2px 2px rgba(0,0,0,.5);
	z-index:1
}
.Board-stone-mark-pendingWhite:before,.Board-stone-white:before{
	background-color:#e8e8e8
}
.Board-stone-mark-pendingWhite:after,.Board-stone-white:after{
	content:" ";
	position:absolute;
	left:0;
	top:0;
	width:85%;
	height:85%;
	border-radius:100%;
	z-index:1;
	background:radial-gradient(ellipse at center,#fff 20%,hsla(0,0%,100%,0) 70%)
}
.Board-stone-black:before,.Board-stone-mark-pendingBlack:before{
	background-color:#333
}
.Board-stone-black:after,.Board-stone-mark-pendingBlack:after{
	content:" ";
	position:absolute;
	left:0;
	top:0;
	width:80%;
	height:80%;
	border-radius:100%;
	z-index:1;
	background:radial-gradient(ellipse at center,#505050 10%,rgba(80,80,80,0) 55%)
}
.Board-stone-mark-square:after{
	left:35%;
	top:35%;
	width:30%;
	height:30%
}
.Board-stone-mark-circle:after,.Board-stone-mark-square:after{
	content:" ";
	position:absolute;
	border:2px solid #f3512c;
	box-sizing:border-box
}
.Board-stone-mark-circle:after{
	left:30%;
	top:30%;
	width:40%;
	height:40%;
	border-radius:40%
}
.Board-stone-mark-triangle{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	text-align:center;
	line-height:200%;
	color:#f3512c;
	font-weight:700;
	font-size:16px
}
.Board-stone-mark-triangle:before{
	content:"â–µ"
}
.Board-stone-mark-cross{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	text-align:center;
	line-height:200%;
	color:#f3512c;
	font-weight:700;
	font-size:16px
}
.Board-stone-mark-cross:before{
	content:"Ã—"
}
.Board-stone-mark-whiteTerritory{
	z-index:3
}
.Board-stone-mark-whiteTerritory:after{
	content:" ";
	position:absolute;
	left:35%;
	top:35%;
	width:30%;
	height:30%;
	background:#fff;
	box-sizing:border-box
}
.Board-stone-mark-blackTerritory{
	z-index:3
}
.Board-stone-mark-blackTerritory:after{
	content:" ";
	position:absolute;
	left:35%;
	top:35%;
	width:30%;
	height:30%;
	background:#333;
	box-sizing:border-box
}
.Board-stone-mark-dead:after{
	content:" ";
	position:absolute;
	left:2%;
	top:2%;
	width:96%;
	height:96%;
	border-radius:100%;
	box-shadow:1px 2px 2px rgba(223,189,109,.4);
	z-index:1;
	background-color:rgba(223,189,109,.5)
}
.Board-stone-label{
	line-height:200%;
	z-index:3;
	font-size:16px;
	font-weight:700;
	color:#f3512c
}
.Board-stone-label,.NigiriIcon{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	text-align:center
}

}
.NigiriIcon .Board-stone:before{
	box-shadow:none
}
@media only screen and (max-width:999px){
	.Board-stone-label,.Board-stone-mark-cross,.Board-stone-mark-triangle{
		font-size:14px
}
}
@media only screen and (max-width:850px){
	.Board-stone-label,.Board-stone-mark-cross,.Board-stone-mark-triangle{
		font-size:12px;
		line-height:170%
}
}
@media only screen and (max-width:440px){
	.Board-stone-label,.Board-stone-mark-cross,.Board-stone-mark-triangle{
		font-size:10px
}
}
.Board-stone-mark-active{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	text-align:center;
	line-height:0;
	z-index:3
}
.Board-stone-mark-active:after{
	content:" ";
	position:absolute;
	left:35%;
	top:35%;
	width:30%;
	height:30%;
	background:#48c39c;
	box-sizing:border-box
}
