

tbody:hover {
        background: #B4AEAE;
        color: #323030;
}

a {
  text-align: center;
}

a:hover,a:focus{
 text-decoration: none;
 outline: none;
}

#accordion .panel{
 border: none;
 box-shadow: none;
 border-radius: 0;
 margin-bottom: 5px;
}

#accordion .panel-heading{
 padding: 0;
 border-radius: 0;
 text-align: center;
 border: none;
}

#accordion .panel-title a{
 display: block;
 padding: 15px;
 font-size: 16px;
 font-weight: bold;
 color: black;
 background: #fff;
 transition: all 2s ease 0s;

}

#accordion .panel-title a:hover{
 background: #9a9a9a;
}



