{% extends "base.html" %}

{% block content %}
<div class="container" style="text-center">
<h1 class="emergy" style="color: white">Авторизация</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p style="color: white">
        {{ form.login.label }}<br>
        {{ form.login(class="form-control") }}<br>
        {% for error in form.login.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
        {% endfor %}
    </p>
    <p style="color: white">
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p align="center">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
</div>
{% endblock %}