<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/board.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3\rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
</head>
<body>
{% block content %}{% endblock %}
<script>
        function get_user_info(
        user,
        _1_game_user_color,
        _1_game_user_score,
        _1_game_user_duration,
        _1_game_user_enemy_name,
        _1_game_user_enemy_color,
        _1_game_user_enemy_score,

        _2_game_user_color,
        _2_game_user_score,
        _2_game_user_duration,
        _2_game_user_enemy_name,
        _2_game_user_enemy_color,
        _2_game_user_enemy_score
        ) {
            $.post('/info', {
                user_name: user
            }).done(function(response) {
                $(_1_game_user_color).text(response['1_game_user_color']);
                $(_1_game_user_score).text(response['1_game_user_score']);
                $(_1_game_user_duration).text(response['1_game_user_duration']);
                $(_1_game_user_enemy_name).text(response['1_game_user_enemy_name']);
                $(_1_game_user_enemy_color).text(response['1_game_user_enemy_color']);
                $(_1_game_user_enemy_score).text(response['1_game_user_enemy_score']);

                $(_2_game_user_color).text(response['2_game_user_color']);
                $(_2_game_user_score).text(response['2_game_user_score']);
                $(_2_game_user_duration).text(response['2_game_user_duration']);
                $(_2_game_user_enemy_name).text(response['2_game_user_enemy_name']);
                $(_2_game_user_enemy_color).text(response['2_game_user_enemy_color']);
                $(_2_game_user_enemy_score).text(response['2_game_user_enemy_score']);

            }).fail(function() {
                $(user).text('Error')});
        }





</script>
</body>
</html>