{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for user in users %}

                <div class="panel panel-default" onclick="">
                    <div class="panel-heading" role="tab" id="heading-{{ loop.index }}">
                        <h4 class="panel-title">
                            <span id="user_{{ loop.index }}">
                            <a id="{{ user }}" role="button" data-toggle="collapse"
                               data-parent="#accordion" href="#collapse-{{ loop.index }}"
                               aria-expanded="true" aria-controls="collapse-{{ loop.index }}"
                               onclick="get_user_info('{{ user }}', 'table_{{ user }}')">
                                #{{ loop.index}} {{ user }}
                            </a>
                            </span>
                        </h4>
                    </div>
                    <div id="collapse-{{ loop.index }}" class="panel-collapse collapse in"
                         role="tabpanel"
                         aria-labelledby="heading-{{ loop.index }}">
                        <div class="panel-body">
                            <table id="table_{{ user }}" class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" scope="col">#</th>
                                    <th class="text-center" scope="col">Nickname</th>
                                    <th class="text-center" scope="col">Color</th>
                                    <th class="text-center" scope="col">Score</th>
                                    <th class="text-center" scope="col">Duration</th>
                                </tr>
                                </thead>

                                <tbody>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>


{% endblock %}